html, body {
    margin: 0 auto 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    height: 80px;
    margin-top: 0;
    color: white;
    text-align: center;
}

main {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5.5em;
    width: 70%;
    justify-content: center;
    letter-spacing: -5px;
    transform: scale(1,1.5);
}

#seconds, #sec {
    font-size: 0.4em;
    letter-spacing: -10px;
}

#sec {
    margin-left: 50px;
}

.input {
    font-family: sans-serif;
    flex-direction: column;
    width: 30%;
    border-radius: 0 0 0 15px;
    gap: 20px;
    padding: 0 auto 0;
    text-align: center;
    vertical-align: bottom;
    background-color: rgb(13, 95, 77);
    color: white;
    font-size: 0.7em;
}

.input > h2 {
    width: 70%;
}

button {
    width: 40%;
    height: 1.5rem;
    background-color: rgb(0,0,0);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: gray;
}

button:disabled {
    color: rgb(48, 47, 47);
    background-color: gray;
}  