* {
    border-style: border-box;
}

html, body {
/*    position: fixed;*/
/*    overflow: hidden;*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    height: 80px;
    margin-top: 0;
    color: white;
    text-align: center;
}

main {
    display: flex;
    gap: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.time {
    font-family: monospace;
    font-size: 6.2em;
    font-weight: bolder;
    width: 70%;
    justify-content: center;
    letter-spacing: -5px;
    transform: scale(1,2);
    cursor: pointer;
}

.start-end {
    width: 100%;
    background-color: black;
    margin: 0;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

.timing {
    display: flex;
    font-size: 1.5em;
    font-family: monospace;
    color: white;
    justify-content: center;
    width: 33%;
    background-color: rgba(0,0,0,0);
    transition: all 0.7s ease-in-out;
}

.start-end > .timing > p:last-of-type {
    color: red;
}

#seconds, #sec {
    font-size: 0.4em;
    letter-spacing: -10px;
}

#sec {
    margin-left: 50px;
}

.input {
    font-family: sans-serif;
    flex-direction: column;
    width: 30%;
    border-radius: 0 0 0 15px;
    gap: 20px;
    padding: 0 auto 0;
    text-align: center;
    vertical-align: bottom;
    background-color: rgb(13, 95, 77);
    color: white;
    font-size: 0.7em;
}

.input > h2 {
    width: 70%;
}

button {
    width: 40%;
    height: 1.5rem;
    background-color: rgb(0,0,0);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: gray;
    cursor: pointer;
}

button:disabled {
    color: rgb(48, 47, 47);
    background-color: gray;
}  

.state {
    background-color: rgb(30, 70, 60);
    height: 35vh;
    border: 2.5px solid white;
    border-top: 4px solid white;
    margin: 0;
    flex-grow: 1;
    align-items: center;
    padding-top: 52px;
}

.centered {
    background-color: rgb(17, 39, 33);
}

.state > div {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.state > div > p, .state > div > h2 {
    margin: 0;
}

div > h2 > span {
    font-size: 3em;
}